<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style1.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Jukebox</title>
</head>
<body>
    <div class="image-container">
        <img src="{{ url_for('static', filename=slika) }}" alt="QR Code" class="qr-code">
        <img src="{{ url_for('static', filename='slike/logo.png') }}" alt="logo" class="logo">
    </div>

    <p>
        <span class="cd-gif"><img src="{{ url_for('static', filename='slike/cd.gif') }}" alt="cd gif"></span>
        <span class="trenutna-pesem">{{trenutna_pesem}}</span>
    </p>
    
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Izvajalec</th>
                <th>Naslov</th>
            </tr>
        </thead>
        <tbody>
            {% for pesem in cakalna_vrsta %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ pesem.avtor }}</td>
                <td>{{ pesem.naslov }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <a href="/pesmi">Pojdi na pesmi</a>
    <br>
    
    <!-- da se osveži stran na nekaj časa -->
    <script>         
        setTimeout(function () {
            location.reload();
        }, 10000);
    </script>
</body>
</html>