<!DOCTYPE html>
<html>
<head>
    <title>Pesmi</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Seznam pesmi</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Naslov</th>
            </tr>
        </thead>
        <tbody>
            {% for pesem in pesmi %}
            <tr>
                <td>{{ pesem.id }}</td>
                <td onclick="handleClick(this)" class="naslov-celica" data-id="{{ pesem.id }}">{{ pesem.naslov }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <form method="POST" action="/dodaj_pesem">
        <input type="text" name="pesem" placeholder="Pesem, ki bi rad, da se predvaja">
    </form>

    <a href="/">Nazaj</a>
</body>
</html>